.container {
  margin-top: 10px;
}
/* header and footer styling */
.header,
.footer {
  box-shadow: 0 4px 8px rgba(29, 66, 10, 0.8) !important;
  box-sizing: border-box;
  padding: 4px;
  color: rgb(255, 255, 255);
  background-color: #80a04a;
}
/* header styling */
.header {
  position: sticky;
  top: 1px;
  padding-top: 10px;
  padding-bottom: 20px;
  z-index: 100;
  margin-bottom: 55px !important;
}

/* center section nav/content */
.nav-pills > li {
  float: none;
  font-weight: bold;
  font-size: large;
}
ul.nav-pills .tab-heading {
  color: rgb(124, 118, 118) !important;
}
.nav-pills > li.active > a {
  box-shadow: 0 0px 6px rgba(29, 66, 10, 0.8) !important;
  box-sizing: border-box;
  background-color: #80a04a !important;
  color: white !important;
}
.nav-pills > li.active > a .tab-heading {
  color: white !important;
}
.tab-content > .tab-pane {
  font-size: large;
  padding: 0px;
  margin: 2px;
}
.tab-content > .tab-pane > p {
  margin: 4px 1px 6px 1px;
  font-size: 23px;
}

/* footer section */
#mypage_footer {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 32px;
}
.footer {
  margin-top: 65px;
}
.footer > h2 {
  margin: 10px 2px 18px 2px !important;
}
.footer-info {
  font-size: medium !important;
  text-align: left;
}

/* Responsive styling of resume  for small screens */
@media (max-width: 767px) {
  .nav-pills {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }
  .nav-pills > li {
    position: relative;
    font-size: small;
    padding: 0;
    flex: 1;
    text-align: center;
    margin-bottom: 0;
  }
  .nav-pills > li > a {
    padding: 12px 4px !important;
  }
  .tab-heading {
    width: 0;
  }
  .tab-heading {
    display: none;
  }
  .glyphicon {
    font-size: medium;
  }
  .tab-content > .tab-pane {
    font-size: small;
    margin-top: 10px;
    padding: 15px;
  }
  .tab-content > .tab-pane > p {
    font-size: 17px;
  }

  .header {
    margin-bottom: 20px !important;
  }
  .footer-info {
    font-size: small !important;
    text-align: left;
  }
}

/* javscript forms styling */
.form-container {
  font-family: "Poppins", sans-serif;
}
.heading {
  font-weight: bold;
  color: darkgreen !important;
}

/* form styling */
.card {
  width: 400px;
  margin: 10px auto;
  padding: 40px;
  background-color: #f7f7f7;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border: 2px solid rgb(16, 100, 16);
  border-radius: 8px !important;
  font-family: "Poppins", sans-serif;
}
.form-inline {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-group {
  font-size: medium;
  margin: 20px;
}
.form-group input {
  width: 300px !important;
  padding: 18px;
}
.btn {
  margin-top: 5px !important;
}

/* Result and error messages styling */
#max_result,
#reverse_result,
#longestWord_result,
#cookie_result {
  margin-top: 5px;
  font-weight: bold;
  font-size: 18px;
  color: solid black;
  text-align: center;
}

#max_error,
#cookie_error,
#longestWord_error,
#reverse_error {
  color: #e74c3c;
  margin-top: 5px;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}

/*Js form Styling for screens below 300px */
@media only screen and (max-width: 300px) {
  .card {
    width: 200px;
    padding: 15px;
  }
  .form-group input {
    width: 200px !important;
  }
}

/* Js form Styling for screens between 300px and 400px */
@media only screen and (min-width: 300px) and (max-width: 500px) {
  .card {
    width: 300px;
    padding: 20px;
  }
  .form-group input {
    width: 250px !important;
  }
}
